/* master styles */

body{
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */

.placeHolder{
    background-color:lightpink;
}

.anotherPlaceHolder{
    background-color: lightblue;
}

.navWrapper{
    display:flex;
    justify-content: space-between;
    padding: 38px;
}

.leftSide{
    display:flex;

}

.navWrapper > .leftSide > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navLinkWrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.navLinkWrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navLinkWrapper:hover {
    border-bottom: 1px solid black;
}

.navLinkWrapper a:hover {
    color: black;
}

.activeNavLink {
    border-bottom: 1px solid black;
}

.activeNavLink a{
    color: black;
}
/* image styles */
.imagesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.imageWrapper {
    position: relative;  /* this is required to use position:absolute */
}

.imageBackground {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageTextWrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logoWrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.imageTextWrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.imageTextWrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.imgDarken {
    transition: 1s;
    filter: brightness(10%);
    
}

/* about page style */
.twoColWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.myPicWrapper img {
    width: 100%;
}

.myContentWrapper {
    padding: 30px;

}

.myContentWrapper h1 {
    color: lightseagreen;
    
}
